#team img {
    margin-top: -50px;
}

#team i {
    color: #555
}

#team .card {
    border-radius: 0;
    box-shadow: 3px 3px 15px rgba(15, 128, 128, 0.47);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

/* #team #e1:hover{
    background: #262626;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px #9e9e9e;
} */

#e1, #e2, #e3 {
    height: 100%;
}

#text-card:not(:hover) {
    color: rgb(5, 77, 77);
}

#team #e1:hover, #team #e2:hover, #team #e3:hover {
    background: rgb(200 14 12 / .47);
    color: white;
    border: none;
    box-shadow: 8px 8px 20px rgb(200 14 12 / 1);
}

#team .card:hover h3, #team .card:hover i {
    color: #ffffff;
}

#director {
    margin-bottom: 40px;
}

#rs {
    margin: 0 auto;
}

.card-deck {
    margin: 0 -15px;
    justify-content: space-evenly;
}

.card-deck .card {
    margin: 0 0 1rem;
}

.card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .card-deck .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }

    .card-deck#founders .card {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
    }

    .card-deck:hover .card {
        transition: all .45s;
        box-shadow: 0 0 2pt 0px black;
    }

    #team #e1:hover, #team #e2:hover, #team #e3:hover {
        border-radius: 200px;
    }
}

@media (max-width: 425px) {
    #faculty, #director, #founders {
        padding: 0 40px;
    }
}
