*{
	box-sizing: border-box;
}

.outer-box{
	padding:0 2.7% 2.7%;
	font-family: 'Lato', sans-serif;
	height:auto;
}

.heading h2{
	font-family: Oswald, Montserrat, Lato, impact, showcard gothic, Roboto, Open Sans, bernard mt condensed, broadway, arial black, sans-serif;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	text-shadow: 1px 1px 0.4px #5D5C91;
	font-weight:600;
	color:#222222;
}

.heading{
	padding:15px;
}

.heading hr{
	width:25%;
	margin:auto;
	border:0;
    height:1px;
    background-image: -webkit-linear-gradient(left, rgba(34,34,34,0), rgba(34,34,34,0.75), rgba(34,34,34,0));
    background-image:    -moz-linear-gradient(left, rgba(34,34,34,0), rgba(34,34,34,0.75), rgba(34,34,34,0));
    background-image:     -ms-linear-gradient(left, rgba(34,34,34,0), rgba(34,34,34,0.75), rgba(34,34,34,0));
    background-image:      -o-linear-gradient(left, rgba(34,34,34,0), rgba(34,34,34,0.75), rgba(34,34,34,0));
    background-image:         linear-gradient(to left, rgba(34,34,34,0) 0%, rgba(34,34,34,0.75) 50%, rgba(34,34,340,0) 100%);
}

.sub-heading{
	color:black;
	margin-top: 20px;
	font-size:28px;
	word-spacing:7px;
	letter-spacing:2px;
}

.sub-heading button{
	display:block;
	margin:10px auto 0;
	width:50px;
	border-radius:50%;
	border:none;
	background-color:rgba(0,0,0,0.5);
}

.sub-heading button:hover{
	background-color: black;
	color:white;
}

.sub-heading button:active{
	color:black;
	background-color: #555;
}

.sub-heading button:active, .sub-heading button:focus{
	outline-style: none;
}

/* .sub-heading button, .sub-heading span{
	display:none;
} */

/*Adding the typewriter effect to the sub-heading*/
.typewriter{
	display:inline-block;
}

.typewriter span{
	border-right:1.5px solid transparent;
	display:inline-block;
	width:0;
	white-space:nowrap;
	overflow-x:hidden;
	animation:blink 0.5s step-end 8,typing 3s forwards steps(30, end) 1s ;
}

@-webkit-keyframes blink{
	from,to{
		border-color: transparent;
	}
	50%{
		border-color:#484848;
	}
}

@keyframes blink{
	from,to{
		border-color: transparent;
	}
	50%{
		border-color:#484848;
	}
}

@-webkit-keyframes typing{
	from{
		width:0;
	}
	to{
		width:100%;
	}
}

@keyframes typing{
	from{
		width:0;
	}
	to{
		width:100%;
	}
}

.department .member{
	width:100%;
	border-radius:0;
}

/*Styling of member*/
.member-photo{
	width:300px;
	height:300px;
	max-width: 100%;
	padding:30px 15px 0;
	border-radius:50px;
}

.member-info{
	text-align:center;
	margin-top:20px;
	color:#5d5c61;
}

.social-link{
	display:flex;
	justify-content:center;
	transform:rotateX(-90deg);
	transform-origin: 0% 0%;
}

.social-link a{
	display:inline-block;
	margin:0 12px;
}

.member:hover .social-link{
	animation: pendulum 1.5s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes pendulum{
	from{
		transform:rotateX(-90deg);
	}
	to{
		transform:rotateX(0deg);
	}
}

@keyframes pendulum{
	from{
		transform:rotateX(-90deg);
	}
	to{
		transform:rotateX(0deg);
	}
}

.year{
	margin-bottom:30px;
}

.fourth-year, .third-fourth-year, .second-third-year, .first-year{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	margin-bottom:40px;
}

.second-third-year, .first-year{
	display:none;
}

.member {
	max-width: 325px;
}

.fourth-year .member{
	width:24%;
	margin: 0 20px;
}

.third-year{
	display:flex;
	/* grid-template-columns:	repeat(3, 24%) ; */
	justify-content: space-evenly;
}

.third-fourth-year .member, .second-third-year .member, .first-year .member{
	width:20%;
}

.second-third-year .member-photo, .first-year .member-photo{
	height:340px;
}

#WebTeamHead {
	cursor: pointer;
}

.social-link{
	display:flex;
	justify-content:center;
	transform:rotateX(-90deg);
	transform-origin: 0% 0%;
}

.social-link a{
	display:inline-block;
	margin:0 12px;
}


/*Making website responsive for laptops with width as 1024px*/
@media (max-width: 1024px)
{
	.fourth-year .member{
		width:36%;
	}
	/* .third-year{
		grid-template-columns: repeat(3, 32%);
	}	 */
	.member-photo{
		height:340px;
	}
	.second-third-year .member, .third-fourth-year .member{
		width:25%;
	}
	.second-third-year .member-photo{
		height:300px;
	}
	/* .first-year .member-photo{
		height:250px;
	} */
}

/*Making website responsive for tablet view*/
@media (max-width: 992px)
{
	.heading hr{
		width:250px;
	}
	.typewriter span{
		font-size:30px;
		font-weight:600;
	}
	.sub-heading{
		font-size:20px;
		word-spacing:5px;
	}
	.year{
		font-size:23px;
		margin-bottom:20px;
		word-spacing:7px;
	}
	.member-photo{
		height:300px;
	}
	.second-third-year .member-photo{
		padding-left:7px;
		padding-right:7px;
		height:230px;
	}
	/* .first-year .member-photo{
		padding:20px 3px 0;
		height:230px;
	} */
	.member-info h4{
		font-size:19px;
		font-weight:400;
	}
	.second-third-year .member-info h4, .first-year .member-info h4{
		font-size:18px;
	}
	.social-link{
		transform:rotateX(0deg);
	}
	.social-link a{
		font-size:17px;
		margin:0 8px;
	}
	.member:hover .social-link{
		animation-name: none;
	}
	.sub-heading button{
		width:42px;
	}
}

/* Adding CSS for tablet view */
@media (max-width:768px) {
	.member {
		max-width: 315px;
	}

	.third-fourth-year .member, .second-third-year .member {
		width: 50%;
	}
}

/* Making website responsive for mobile view */
@media (max-width:600px){
	.heading hr{
		width:85%;
	}
	.typewriter span{
		font-size:75%;
		font-weight: 600;
	}
	.year{
		font-size:20px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.fourth-year, .third-fourth-year, .second-third-year, .first-year{
		flex-direction: column;
	}
	.fourth-year .member, .third-fourth-year .member, .second-third-year .member, .first-year .member{
		width: 100%;
		margin: 0 auto 40px;
	}
	.third-year{	
		flex-direction: column;
	}
	.third-year .member{
		width: 100%;
		margin: 0 auto 40px;
	}
	.member-photo{
		display:block;
		margin:10px auto;
		width:80%;
		height:270px;
	}
	.second-third-year .member-photo, .first-year .member-photo{
		height:325px;
	}
	.sub-heading button{
		width:39px;
	}
}

/*Making website responsive for mobiles with width as 320px*/
@media (max-width:320px)
{
	.sub-heading{
		font-size:19px;
	}
	.year{
		font-size:18px;
		word-spacing: 5px;
	}
	.member-photo{
		width:80%;
	}
	.member-info h4{
		font-size:17px;
	}
	.sub-heading button{
		width:35px;
	}
}