@media screen and (max-width: 1052px) {
    .css-1th1j6q{
        flex-direction: none;
        flex-wrap: wrap;
        
    }
    .css-232tki{
        -webkit-margin-start: 0rem;
    }
}

@media screen and (max-width: 840px) {
    
}