@media screen and (max-width: 1052px) {
    .css-1th1j6q{
        flex-direction: none;
        flex-wrap: wrap;
        
    }
        .css-1th1j6q>*:not(style)~*:not(style) {
            margin-top: 0px;
            -webkit-margin-end: 0px;
            margin-inline-end: 0px;
            margin-bottom: 0px;
            -webkit-margin-start: 0rem;
            margin-inline-start: 0rem;
        }
}

@media screen and (max-width: 840px) {
    
}