/* CSS, specifically just for the Home Page */

/* Top Video Background */
#myvideo {
    position: relative;
    right: 0;
    bottom: 0;
    max-width: 100% !important;
    max-height: 100% !important;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.container .box {
    position: relative;
    margin: 40px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 #262626;
    border-radius: 1em;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper:hover {
    box-shadow: 0 0 25px 0 rgba(116, 72, 72, 0.7);
}

.wrapper > * {
    padding: 1em;
}

/* Keeping nav-item background to Translucent Black on hover, to ensure visibility of items even on hovering at the top of page when navbar has transparent background */
.nav-item:hover {
    background: #000a;
    /* border-radius: 5px; */
}

.container-initiatives {
    /* position: relative;
    width: 1200px;
    height: 400px; */
    margin: 100px auto;

}

.container-initiatives .box {
    position: relative;
    width: 100%;
    /* width: calc(400px - 30px); */
    height: calc(400px - 30px);
    background: #000;
    float: left;
    margin: 15px auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container-initiatives .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #133b5c;
    transition: 0.5s;
    z-index: 1;
}

.container-initiatives .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-initiatives .box .icon .initiatives-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    transition: 0.5s;
    color: #fff;
    border-radius: 10px;
}

.container-initiatives .box:hover .icon .initiatives-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-initiatives .box .content {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container-initiatives .box:hover .content {
    top: 100px;
    width: 100%;
    opacity: 1;
}

.container-initiatives .box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.container-initiatives .box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
}


/* owl-carousel related modifications */
#slbr {
    background: url("https://res.cloudinary.com/dmmt1w6md/image/upload/v1667577016/assets/sky1_bp3rpg.jpg");
    min-height: 100%;
    z-index: 1;
    margin: 2em;
    padding: 2em;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

.owl-carousel .item img {
    z-index: 999;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20% !important;
    min-width: 100px;
    min-height: 20%;
    max-height: 50%;
    padding-top: 5.5em;
    opacity: 1 !important;
}

.caption h4, .caption h5 {
    color: #fff;
}

.caption h5 {
    margin-top: 2em;
}

.owl-carousel .caption {
    text-align: center;
    margin: 0;
}

.caption h1 {
    color: aliceblue;
}

@media (max-width: 550px) {
    .caption h4, .caption h5 {
        padding: 0 10px;
        font-size: 100%;
    }

    #slbr {
        margin: 1em;
        padding: 1em;
    }

    .contact form p {
        grid-column: 1/3;
    }

}

#owlcarousel {
    background: url("https://res.cloudinary.com/dmmt1w6md/image/upload/v1667577016/assets/sky1_bp3rpg.jpg");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    min-height: 100%;
    z-index: 1;
    padding: 2em;
    position: relative;
}

.owl-carousel button.owl-next > span, .owl-carousel button.owl-prev > span {
    transition: .5s;
}

.owl-carousel:hover button.owl-next > span, .owl-carousel:hover button.owl-prev > span {
    /* border: 1px solid; */
    box-shadow: 0 0 0.1em;
    padding: 0.2em;
    border-radius: 0.2em;
}

.caption h4 {
    margin: 1em auto;
    font-family: Oswald, "Arial Black", Gadget, sans-serif;
}

.caption h4 .name {
    font-weight: 600;
}

/* .caption h5{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Comic Neue',
	'Helvetica Neue', sans-serif, cursive;
} */

.owl-carousel .caption {
    text-align: center;
    margin: 0;
}

.caption h1 {
    color: aliceblue;
}

.company-info {
    background: #000;
    text-align: center;
    color: #fff;
}

.company-info h3, .company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.mail-contact, .mail-contact:hover, a[href^="tel:"], a[href^="tel:"]:hover {
    color: white;
    text-decoration: none;
}

.contact {
    background: #262626;
    color: #fff;
}

/* FORM CONTACTS
 MOBILE SIZE FIRST */

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#contact h3 {
    text-align: center;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

ul {
    list-style-type: none;
}

.contact form .full {
    grid-column: 1/3;
}

.contact form button, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1em;
    /* border: 1px solid #000; */
    border: 1.25px solid #555;
    color: #fff;
}

.contact form input, .contact form textarea {
    border-radius: .25em;
    background: #333;
}

.contact form input:focus, .contact form textarea:focus {
    color: #fff;
    background: #222;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: whitesmoke;
    /* color: #f4f4f4; */
    background-color: #151515;
    transition: background-color 90001s ease-in-out;
}

.contact form button {
    background: #000;
    border: 0;
    text-transform: uppercase;
    transition: background-color 0.5s ease-out;
    border-radius: .5em;
}

.contact form button:hover, .contact form button:focus {
    background: #444;
    color: #fff;
    outline: 0;
}

/* LARGE SCREENS */
@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
        padding: 2em;
    }

    .company-info h3, .company-info ul, .brand {
        text-align: left;
    }

    #contact h3 {
        text-align: justify;
    }

}


#highlight-container {
    background-color: rgba(0, 0, 0, 0.92);
    padding: 50px;
}

#highlight-container .highlight-box {
    background-color: rgba(245, 245, 245, 0.753);
    margin: 15px;
    margin-top: 60px !important;
    padding: 0px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
}

#highlight-container .highlight-box h5 {
    margin: 10px;
}

#highlight-container .highlight-box img {
    width: 100%;
    border-radius: 5px;
    height: auto;
}

.highlight-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    opacity: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
}

.highlight-content > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.highlight-content:hover {
    opacity: 1;
}

.highlight-content:hover > * {
    transform: translateY(0);
}